#img-wrapper span{ 
    background: #fff none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px #999;
    display: inline-block;
    height: 84px;
    margin: 5px 5px 5px 0;
    position: relative;
    width: 84px;
}
#img-wrapper span img{ 
    border: medium none;
    border-radius: 50%;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
li#toplevel_page_activity_log_page{
    display: none;
}
tr#activity-log{
    display: none;
}
.form-group{
    display: block;
    margin-bottom: 10px;
}
.form-control{
    width: 100%;
}
.label{
    display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #777;
}